<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Ipl Score</title>
       <link rel="stylesheet" type="text/css" href="css/styleipl.css">
</head>
<body>

<div class="wrapper">
    <div class="title">
      IPL Score Predictor
    </div>
    <div class="form">
       <div class="inputfield">
          <label>Runs</label>
          <input type="text" class="input">
       </div>  
        <div class="inputfield">
          <label>Overs (above 5)</label>
          <input type="text" class="input">
       </div>  
         <div class="inputfield">
          <label>Wickets</label>
          <input type="text" class="input">
       </div>  
       <div class="inputfield">
          <label>Runs scored in last 5 overs</label>
          <input type="text" class="input">
       </div>  
        <div class="inputfield">
          <label>Wickets fallen in last 5 overs</label>
          <input type="text" class="input">
       </div>
         <div class="inputfield">
          <label>Striker</label>
          <input type="text" class="input">
       </div>
          <div class="inputfield">
          <label>Non striker</label>
          <input type="text" class="input">
       </div>
        <div class="inputfield">
          <label>Batting Team</label>
          <div class="custom_select">
            <select>
              <option value="">Select team</option>
              <option value="csk">Chennai Super Kings</option>
              <option value="rcb">Royal Challengers Banglore</option>
              <option value="mi">Mumbai Indians</option>
              <option value="pbks">Punjab Kings</option>
              <option value="dc">Delhi Capitals</option>
              <option value="kkr">Kolkata Knight Riders</option>
              <option value="rr">Rajasthan Royals</option>
              <option value="srh">Sunrisers Hyderabad</option>
            </select>
          </div>
            <label>Bowling Team</label>
          <div class="custom_select">
            <select>
              <option value="">Select team</option>
              <option value="csk">Chennai Super Kings</option>
              <option value="rcb">Royal Challengers Banglore</option>
              <option value="mi">Mumbai Indians</option>
              <option value="pbks">Punjab Kings</option>
              <option value="dc">Delhi Capitals</option>
              <option value="kkr">Kolkata Knight Riders</option>
              <option value="rr">Rajasthan Royals</option>
              <option value="srh">Sunrisers Hyderabad</option>
            </select>
          </div>
       </div> 
      <div class="inputfield">
        <input type="submit" value="Predict IPL Score" class="btn">
      </div>
    </div>
</div>
</body>
</html>
